<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="base.css">
		<title>base netflix</title>
	</head>

	<body>
		<div id="bloc_page">

			<header>
				<nav>		
					<ul id="logos">
						<li id="logo_netflix1"></li>						
						<li id="logo_netflix2"><p>S'identifier</p></li>
					</ul>			
						
					<h1>Liste des films et série TV produit par :</h1>

					<!--
					<tr>
						<th id="title">Titre</th>
					</tr>
					{% for i in films_dir.index: %}
			        <tr>
			            <td>{{ films_dir.iloc[i]['title'] }}</td>
			        </tr>
					{% endfor %}
					-->

					<p id="title">Titre : 
						{% for i in films_dir.index: %}
			            	{{ films_dir.iloc[i]['title'] }}
			            {% endfor %}
			        </p>

					<div id="table">
							<p id="table_1">{{ nom }}</p>
							<p id="table_2">COMMENCER ></p>					
					</div>								
				</nav>		
			</header>

			<div id="graph">
				<div>
					<p><strong>Analyse des films</strong><br >En fonction de leurs date de sortie</p>
					<img src="categorie_A.png" alt="graph_1">
				</div>


				<div>
					<img src="categorie1.png" alt="graph_2">
					<p><strong>Analyse des films</strong><br >En fonction de leurs date de sortie</p>
				</div>
										
				<div>
					<p><strong>Analyse des films</strong><br >En fonction de leurs date de sortie</p>
					<img src="categorie2.png" alt="graph_3">
				</div>
			</div>


			<footer>				
				<p id="fin">en savoir plus...<br />{{ time_stamp }}</p>
				<p><img src="index.jpg" alt="image de netflix"></p>
				<p>remerciments :<br /><strong>FERNANDES</strong> <br />Stephane</p>
			</footer>






		












		</div>
	</body>
</html>
